.chart-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.chart-basic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    height: 200px;
    width: 300px;
    background-color: ghostwhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px #72d7e1;
    &--title {
        margin-left: auto;
        margin-right: auto;
        color: $blue-title;
        font-size: $h2-font-size;
    }
}