//Colors
$blue-main: #9395F6;
$bluesecond: #E0E4F3;
$blue-link: #88D8DB;
$blue-title: #0A233E;
//Font size
$h1-font-size: 24px;
$h2-font-size: 20px;
$h3-font-size: 16px;
$normal-font-size: 15px;
$small-font-size: 13;
$smaller-font-size: 12px;