//Colors
$blue-main: #3f51b5;
$bluesecond: #e0e4f3;
$blue-link: #88d8db;
$blue-title: #0a233e;
//Font size
$h1-font-size: 24px;
$h2-font-size: 20px;
$h3-font-size: 16px;
$normal-font-size: 15px;
$small-font-size: 13;
$smaller-font-size: 12px;