//Colors
$blue-main: #9395F6;
$bluesecond: #E0E4F3;
$blue-link: #88D8DB;
$blue-title: #0A233E;
//Font size
$h1-font-size: rem(24px);
$h2-font-size: rem(20px);
$h3-font-size: rem(16px);
$normal-font-size: rem(15px);
$small-font-size: rem(13);
$smaller-font-size: rem(12px);