.area-card-main-container__title {
    color: $blue-title;
    font-size: $h1-font-size;
}

.area-card-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 90%;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    text-align: center;
}

.link {
    color: $blue-link;
    text-decoration: underline;
    font-size: $h1-font-size;
    &__area-card {
        margin-right: auto;
        padding-left: 41px;
    }
}